.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.inner {
    width: 85.49%;
    height: 86.67%;
}
.title {
    text-transform: uppercase;
}

@media (min-width: 375px) {
    .container {
        width: min(23.21vw, 325px);
        height: min(30vw, 420px);
        font-size: min(2.14vw, 30px);
        border-radius:  min(2.14vw, 30px);
    }
    .container:not(:last-child) { margin-right: min(0.79vw, 12px); }
}
@media (max-width: 374px) {
    .container {
        width: 86.9vw;
        height: 112.3vw;
        font-size: 8vw;
        border-radius: 8.02vw;

    }
    .container:not(:last-child) { margin-right: 3.21vw; }
}