@media (min-width: 375px) {
    .container { overflow: hidden; }
    .inner {
        display: flex;
        flex-wrap: wrap;
        gap: min(1.07vw, 15px);
    }
}

@media (max-width: 374px) {
    .container { overflow: auto; }
    .inner {
        display: flex;
        gap: 4px;
        width: min-content;
    }
}
.container::-webkit-scrollbar {
    display: none;
}
