.main {
    background-color: #FF7E7E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.container {
    max-width: 1340px;
    width: 95.71%;
    margin: 0 auto;
}
.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

@media (max-width: 374px) {
    .container {
        max-width: 355px;
        margin: 0 auto;
    }
}