.title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 375px) {
    .title { font-size: min(9.41vw, 80px); }
}
@media (max-width: 374px) {
    .title { font-size: 10.7vw; }
}